body {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    background: #212529;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2b3035;
    height: 8vh;
    font-size: 2em;
}

.container {
    display: flex;
    height: 60vh;
    background: #212529;
}

.left-panel {
    width: 50%;
    background: #212529;
    box-sizing: border-box;
    margin: 10px;
}

.filters {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.filters select {
    min-width: 60px;
    padding: 8px 12px;
    color: #FFFFFF;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid #2b3035;
    background-color: #212529;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.filters select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.3);
}

.image-container {
    height: 80%;
    overflow: auto;
    box-sizing: border-box;
    margin: 10px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
    gap: 10px;
    margin: 10px;
}

.image-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-grid img {
    max-height: 30px;
    max-width: 30px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: border 0.1s;
}

.image-grid img:hover {
    border: 1px solid #007bff;
}

.right-panel {
    width: 50%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 10px;
}

.control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    box-sizing: border-box;
}

.color-picker {
    display: flex;
    align-items: center;
}

textarea {
    flex-grow: 1;
    resize: none;
    width: 100%;
    padding: 10px;
    color: #FFFFFF;
    font-family: monospace;
    font-size: 14px;
    border: 1px solid #ccc;
    background: #212529;
    box-sizing: border-box;
}

.tips {
    background-color: #2b3035;
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1vh;
}

footer {
    text-align: center;
    padding: 12px;
    font-size: 12px;
    color: #ddd;
    background-color: #2b3035;
}

footer a {
    margin-left: 0.5rem;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #0056b3;
}